.app-LandingPage-middlepart{
    background: linear-gradient(89.81deg, #FAF7FF 0%, #F59269 73.9%, #ED713E 100%);

}

.app-sidemenu-mainmenu{
    height: 30px;
}
.app-LandingPage-setting{
    cursor: pointer;
}
.app-sidemenu-col{
    padding-right: 0;
    padding-inline: 0;
}
.app-LandingPage-rightpart{
    padding: 0!important;
}
.app-LandingPage-locations{
    border-radius: 4px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cursorpointer{
    cursor: pointer;
}
.paddingleft-LandingPage{
    padding-left: 8px;
}