.fontcolorwhite {
    color: white;
}
.fontcolorblackbold {
    font-weight: 600;
}
.backgroundcolor{
    background-color: #ED713E;
}
.backgroundcolorsecondary {
    background-color:  #5B5B5B!important;
}
.bordercolororange {
    border: 0.7px solid #ED713E!important;
}